<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <script src="../website.js"></script>
</head>

<body class="mintapps" data-id="mint-user-profile">
  <page-title id="page-title" data-title="UserProfile.title" data-subtitle="UserProfile.subtitle"></page-title>
  <main class="container gap-stack">
    <alert-box id="alert-session-invalid" data-hide data-type="warning" data-text="Errors.session-invalid"></alert-box>
    <alert-box id="alert-info" data-hide></alert-box>
    <mint-card-container id="mint-card-container" v-if="session && session.user">
      <!-- account info -->
      <mint-card id="card-security" data-title="General.security">
        <table class="table mint-card-table">
          <tbody>
            <tr>
              <td data-i18n="User.user"></td>
              <td id="session-user"></td>
            </tr>
            <tr>
              <td data-i18n="User.lastlogin"></td>
              <td id="session-last-login"></td>
            </tr>
            <tr>
              <td data-i18n="User.twofactor"></td>
              <td id="session-token"></td>
            </tr>
          </tbody>
        </table>
        <alert-box id="info-totp" data-text="User.info-2fa"></alert-box>
        <div slot="footer">
          <button class="btn" id="show-enable-2fa" data-i18n="User.enable-2fa"></button>
          <button class="btn" id="show-disable-2fa" data-i18n="User.disable-2fa"></button>
          <button class="btn" id="show-change-password" data-i18n="User.change-password"></button>
          <button class="btn" id="show-delete-account" data-i18n="User.delete-account"></button>
        </div>
      </mint-card>
      <!-- terms -->
      <mint-card id="card-terms" data-title="User.terms">
        <div data-i18n-md-block="User.terms-text"></div>
      </mint-card>

    </mint-card-container>
    <!-- change password -->
    <modal-dialog id="modal-change-password" data-title="User.change-password" data-buttons="accept, cancel" data-keep-open="accept">
      <alert-box data-text="User.password-rules"></alert-box>
      <form class="form-container">
        <mint-label for="password" data-text="User.password"></mint-label>
        <input-text id="password" type="password" autocomplete="current-password" data-min="8"></input-text>
        <mint-label for="password1" data-text="User.new-password"></mint-label>
        <input-text id="password1" type="password" data-min="8"></input-text>
        <mint-label for="password2" data-text="User.repeat-password"></mint-label>
        <input-text id="password2" type="password" data-min="8"></input-text>
      </form>
      <alert-box id="alert-change-password" data-type="warning" data-hide></alert-box>
    </modal-dialog>
    <!-- delete account -->
    <modal-dialog id="modal-delete-account" data-hide data-buttons="cancel" data-keep-open="accept" data-title="User.delete-account">
      <form class="form-container">
        <mint-label for="password3" data-text="User.password"></mint-label>
        <input-text id="password3" type="password" autocomplete="current-password" data-min="8"></input-text>
        <mint-label for="switch-confirm-delete" class="wide-label" data-text="UserProfile.confirm-delete"></mint-label>
        <input-switch id="switch-confirm-delete"></input-switch>
      </form>
      <alert-box id="alert-delete-account" data-type="warning" data-hide></alert-box>
    </modal-dialog>
    <!-- enable 2fa -->
    <modal-dialog id="modal-enable-2fa" data-hide data-title="User.twofactor" data-buttons="accept, cancel" data-keep-open="accept">
      <div class="text-center">
        <qr-code id="qr-totp"></qr-code>
      </div>
      <alert-box data-text="User.info-totp"></alert-box>
      <form class="form-container">
        <mint-label data-text="User.token"></mint-label>
        <input-text id="token" data-min="1" @enter="enable2fa()"></input-text>
      </form>
      <alert-box id="alert-enable-2fa" data-type="warning"></alert-box>
    </modal-dialog>
    <!-- disable 2fa -->
    <modal-dialog id="modal-disable-2fa" data-hide data-title="User.twofactor" data-buttons="accept, cancel" data-keep-open="accept">
      <div data-i18n="User.info-disable-2fa"></div>
      <form class="form-container">
        <mint-label for="token2" data-text="User.token"></mint-label>
        <input-text id="token2" data-min="1"></input-text>
      </form>
      <alert-box id="alert-disable-2fa" data-type="warning"></alert-box>
    </modal-dialog>
  </main>

  <script type="module">
    import '../modules/main.js'
    import '../components/alert-box.js'
    import '../components/page-title.js'
    import '../components/form-components.js'
    import '../components/mint-card-components.js'
    import '../components/qr-code.js'
    import '../components/modal-dialog.js'
    import * as http from '../modules/http.js'
    import * as storage from '../modules/storage.js'
    import { showIf, gid } from '../modules/utils.js'
    import { isValidSession } from '../modules/session.js'

    // variables
    let session // current session

    // listen to change of session state (see navbar-top-login an navbar-top)
    storage.watch('session', () => {
      showInfo('')
      update()
    })

    // events
    gid('show-change-password').onclick = showModalChangePassword
    gid('modal-change-password').onaccept = changePassword
    gid('show-delete-account').onclick = showModalDeleteAccount
    gid('modal-delete-account').onaccept = deleteAccount
    gid('switch-confirm-delete').oninput = () => gid('modal-delete-account').setAttribute('data-buttons', gid('switch-confirm-delete').value ? 'accept, cancel' : 'cancel')
    gid('show-enable-2fa').onclick = showModalEnable2fa
    gid('modal-enable-2fa').onaccept = enable2fa
    gid('show-disable-2fa').onclick = showModalDisable2fa
    gid('modal-disable-2fa').onaccept = disable2fa

    await update()

    // update session and gui elements
    async function update() {
      if (await isValidSession()) {
        session = storage.get('session')
        gid('session-user').innerText = session.user
        gid('session-last-login').innerText = session.lastlogin > 0 ? new Date(session.lastlogin).toLocaleString() : '–'
        gid('session-token').setAttribute('data-i18n', session.totp > 0 ? 'General.yes' : 'General.no')
        showIf('show-enable-2fa', !session.totp)
        showIf('show-disable-2fa', session.totp)
        gid('alert-session-invalid').hide()
        gid('mint-card-container').show()
        gid('info-totp').showIf(!session.totp)
        return true
      } else {
        gid('mint-card-container').hide()
        gid('alert-session-invalid').show()
        gid('modal-change-password').hide()
        gid('modal-delete-account').hide()
        gid('modal-enable-2fa').hide()
        gid('modal-disable-2fa').hide()
        const navbarTop = document.querySelector('.mintapps navbar-top')
        if (navbarTop) navbarTop.updateTopPanel()
        return false
      }
    }

    // show modal to change password
    async function showModalChangePassword() {
      if (await update()) {
        gid('alert-change-password').hide()
        gid('modal-change-password').show()
        gid('password').value = ''
        gid('password1').value = ''
        gid('password2').value = ''
        gid('alert-change-password').hide()
      }
    }

    // change user password
    async function changePassword() {
      const password = gid('password')
      const password1 = gid('password1')
      const password2 = gid('password2')
      try {
        if (password1.value !== password2.value) { throw new Error('password-mismatch') }
        await update()
        await http.post('sync:change-password', {
          user: session.user,
          newpassword: password1.value,
          password: password.value
        })
        gid('modal-change-password').hide()
        showInfo('UserProfile.confirm-password-change')
      } catch (e) {
        gid('alert-change-password').setAttribute('data-text', `Errors.${e.message}`)
        gid('alert-change-password').show()
      }
    }

    // show modal to delete account
    async function showModalDeleteAccount() {
      if (await update()) {
        gid('switch-confirm-delete').value = false
        gid('modal-delete-account').setAttribute('data-buttons', 'cancel')
        gid('alert-delete-account').hide()
        gid('modal-delete-account').show()
      }
    }

    // delete (own) account
    async function deleteAccount() {
      try {
        gid('alert-delete-account').hide()
        const password = gid('password3')
        await update()
        await http.post('sync:delete-user-with-password', { user: session.user, password: password.value })
        storage.set('session', {})
        await update()
      } catch (e) {
        gid('alert-delete-account').setAttribute('data-text', `Errors.${e.message}`)
        gid('alert-delete-account').show()
      }
    }

    // show modal to enable two factor authentication
    async function showModalEnable2fa() {
      if (await update()) {
        try {
          gid('alert-enable-2fa').hide()
          gid('modal-enable-2fa').show()
          gid('token').value = ''
          const res = await http.post('sync:init-totp', { user: session.user })
          gid('qr-totp').setAttribute('data-text', res.url)
        } catch (e) {
          gid('alert-enable-2fa').setAttribute('data-text', `Errors.${e.message}`)
          gid('alert-enable-2fa').show()
        }
      }
    }

    // enable two factor authentication
    async function enable2fa() {
      try {
        await update()
        await http.post('sync:enable-totp', { user: session.user, token: gid('token').value })
        gid('modal-enable-2fa').hide()
        session.totp = true
        storage.set('session', session) // triggers update
        await update()
      } catch (e) {
        gid('alert-enable-2fa').setAttribute('data-text', `Errors.${e.message}`)
        gid('alert-enable-2fa').show()
      }
    }

    // show modal to disable two factor authentication
    async function showModalDisable2fa() {
      if (await update()) {
        gid('token2').value = ''
        gid('alert-disable-2fa').hide()
        gid('modal-disable-2fa').show()
      }
    }

    // disable two factor authentication
    async function disable2fa() {
      try {
        await update()
        await http.post('sync:disable-totp', { user: session.user, token: gid('token2').value })
        gid('modal-disable-2fa').hide()
        session.totp = false
        storage.set('session', session) // triggers update
      } catch (e) {
        gid('alert-disable-2fa').setAttribute('data-text', `Errors.${e.message}`)
        gid('alert-disable-2fa').show()
      }
    }

    // show info message
    function showInfo(msg) {
      if (msg) {
        gid('alert-info').setAttribute('data-text', msg)
        gid('alert-info').show()
      } else {
        gid('alert-info').hide()
      }
    }
  </script>
</body>

</html>