<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <script src="../website.js"></script>
</head>

<body class="mintapps" data-id="mint-wheatstone">
  <!-- eslint-disable vue/no-v-html -->
  <main class="container">
    <page-title data-title="Wheatstone.title" data-subtitle="Wheatstone.subtitle"></page-title>
    <mint-card-container id="mint-card-container">
      <mint-card data-title="General.card-params">
        <form class="form-container">
          <mint-label for="U0" data-text="Physics.voltage-source" data-math="U_0" data-unit="V"></mint-label>
          <input-number id="U0" data-min="1" data-max="20"></input-number>
          <mint-label for="R1" data-text="Physics.resistance" data-math="R_1" data-unit="Ω"></mint-label>
          <input-number id="R1" data-slider data-min="1" data-max="1e4"></input-number>
          <mint-label for="R2" data-text="Physics.resistance" data-math="R_2" data-unit="Ω"></mint-label>
          <input-number id="R2" data-slider data-min="1" data-max="1e4"></input-number>
          <mint-label for="R3" data-text="Physics.resistance" data-math="R_3" data-unit="Ω"></mint-label>
          <input-number id="R3" data-slider data-min="1" data-max="1e4"></input-number>
          <mint-label for="R4" data-text="Physics.resistance" data-math="R_4" data-unit="Ω"></mint-label>
          <input-number id="R4" data-slider data-min="1" data-max="1e4"></input-number>
          <mint-label class="wide-label" data-text="Wheatstone.showI-switch" for="showI"></mint-label>
          <input-switch id="showI"></input-switch>
          <mint-label for="I12" data-text="Physics.amperage" data-math="I_1=I_2" data-unit="mA"></mint-label>
          <output-number v-if="showI" data-scale="1000" id="I12" data-precision="4"></output-number>
          <mint-label for="I34" data-text="Physics.amperage" data-math="I_3=I_4" data-unit="mA"></mint-label>
          <output-number id="I34" data-scale="1000" data-precision="4"></output-number>
        </form>
        <div slot="footer">
          <div id="divAdjust">
            <span data-i18n="Wheatstone.adjust-with"></span><span> </span>
            <button class="btn btn-primary" id="btn1" data-am-inline="R_1"></button>
            <button class="btn btn-primary" id="btn2" data-am-inline="R_2"></button>
            <button class="btn btn-primary" id="btn3" data-am-inline="R_3"></button>
            <button class="btn btn-primary" id="btn4" data-am-inline="R_4"></button>
          </div>
        </div>
      </mint-card>
      <mint-card data-title="General.card-setup">
        <div id="divAnimate" class="w-100"></div>
      </mint-card>
    </mint-card-container>
  </main>

  <script type="module">
    import '../modules/main.js'
    import '../components/page-title.js'
    import '../components/mint-card-components.js'
    import '../components/form-components.js'
    import { gid, showIf } from '../modules/utils.js'
    import * as plot2d from '../modules/plot-2d.js'
    import { renderChildren } from '../modules/asciimathml.js'

    // references
    const mintCardContainer = gid('mint-card-container')
    const divAnimate = gid('divAnimate')
    const divAdjust = gid('divAdjust')
    const R1 = gid('R1', 1000)
    const R2 = gid('R2', 1500)
    const R3 = gid('R3', 2000)
    const R4 = gid('R4', 1500)
    const I12 = gid('I12', 0)
    const I34 = gid('I34', 0)
    const U0 = gid('U0', 12)
    const btn1 = gid('btn1')
    const btn2 = gid('btn2')
    const btn3 = gid('btn3')
    const btn4 = gid('btn4')
    const showI = gid('showI', false)

    // events
    for (const e of [U0, R1, R2, R3, R4]) e.oninput = readParamsAndCalc
    mintCardContainer.onrepaint = repaint
    showI.oninput = updateGui
    btn1.onclick = () => adjust(1)
    btn2.onclick = () => adjust(2)
    btn3.onclick = () => adjust(3)
    btn4.onclick = () => adjust(4)

    // variables
    let sizeSetup, canvasSetup
    let colors
    let U1, U2, U3, U4, U5 // voltages
    let I1, I3 // I2, I4 // currents

    // start
    renderChildren(divAdjust)
    updateGui()
    init()

    // init app
    function init() {
      plot2d.init()
      colors = plot2d.getColors()
      sizeSetup = divAnimate.clientWidth
      divAnimate.style.height = sizeSetup + 'px'
      canvasSetup = plot2d.createCanvas(divAnimate, sizeSetup, sizeSetup, 'canvasSetup', true)
      readParamsAndCalc()
    }

    // update gui
    function updateGui() {
      I12.value = I1
      I34.value = I3
      I12.showIf(showI.value)
      I34.showIf(showI.value)
      showIf(divAdjust, Math.abs(U5) > 0.001)
    }

    // read new params and calc all values
    function readParamsAndCalc() {
      U1 = (U0.value * R1.value) / (Number(R1.value) + Number(R2.value))
      U2 = U0.value - U1
      U3 = (U0.value * R3.value) / (Number(R3.value) + Number(R4.value))
      U4 = U0.value - U3
      U5 = U1 - U3
      I1 = U1 / R1.value
      //I2 = U2 / R2.value (same as I1)
      I3 = U3 / R3.value
      //I4 = U4 / R4.value (same as I3)
      drawSetup()
      updateGui()
    }

    // adjust bridge
    function adjust(nr) {
      if (nr === 1) {
        R1.value = Number(((R2.value * R3.value) / R4.value).toPrecision(5))
      }
      if (nr === 2) {
        R2.value = Number(((R1.value * R4.value) / R3.value).toPrecision(5))
      }
      if (nr === 3) {
        R3.value = Number(((R4.value * R1.value) / R2.value).toPrecision(5))
      }
      if (nr === 4) {
        R4.value = Number(((R3.value * R2.value) / R1.value).toPrecision(5))
      }
      readParamsAndCalc()
    }

    // draw foreground
    function drawSetup() {
      const ctx = canvasSetup.getContext('2d')
      ctx.lineWidth = 1.5
      ctx.strokeStyle = colors[4]
      // clear
      ctx.clearRect(0, 0, sizeSetup, sizeSetup)
      const s = sizeSetup / 10
      // source
      ctx.beginPath()
      ctx.fillStyle = colors[5]
      ctx.arc(s * 9, s * 5, 0.7 * s, 0.7 * s, 0, Math.PI * 2)
      ctx.fill()
      ctx.stroke()
      ctx.fillStyle = colors[4]
      plot2d.drawMath(ctx, { x: s * 9 + 4, y: s * 5 + 4, text: 'U_0', color: 4 })
      // lines
      ctx.beginPath()
      ctx.rect(1 * s, 1 * s, 8 * s, 8 * s)
      ctx.moveTo(1 * s, 5 * s)
      ctx.lineTo(6 * s, 5 * s)
      ctx.moveTo(6 * s, 1 * s)
      ctx.lineTo(6 * s, 9 * s)
      ctx.stroke()
      // resistors
      ctx.beginPath()
      ctx.fillStyle = colors[6]
      ctx.rect(0.5 * s, 2 * s, 1 * s, 2 * s)
      ctx.rect(0.5 * s, 6 * s, 1 * s, 2 * s)
      ctx.rect(5.5 * s, 2 * s, 1 * s, 2 * s)
      ctx.rect(5.5 * s, 6 * s, 1 * s, 2 * s)
      ctx.fill()
      ctx.stroke()
      plot2d.drawMath(ctx, { x: s * 1 - 8, y: s * 7, text: 'R_1', color: 4 })
      plot2d.drawMath(ctx, { x: s * 1 - 8, y: s * 3, text: 'R_2', color: 4 })
      plot2d.drawMath(ctx, { x: s * 6 - 8, y: s * 7, text: 'R_3', color: 4 })
      plot2d.drawMath(ctx, { x: s * 6 - 8, y: s * 3, text: 'R_4', color: 4 })
      // voltmeter
      ctx.beginPath()
      ctx.fillStyle = colors[5]
      ctx.arc(s * 3.5, s * 5, 0.7 * s, 0.7 * s, 0, Math.PI * 2)
      ctx.fill()
      ctx.stroke()
      plot2d.drawMath(ctx, { x: s * 3.5 - 5, y: s * 5 + 4, text: '"V"', color: 4 })
      // voltages
      plot2d.drawArrow(ctx, {
        x0: s * 8,
        y0: s * (5 - U0.value / 20),
        x1: s * 8,
        y1: s * (5 + U0.value / 20),
        color: 1
      })
      plot2d.drawArrow(ctx, {
        x0: s * 2,
        y0: s * (7 - U1 / 20),
        x1: s * 2,
        y1: s * (7 + U1 / 20),
        color: 1
      })
      plot2d.drawArrow(ctx, {
        x0: s * 2,
        y0: s * (3 - U2 / 20),
        x1: s * 2,
        y1: s * (3 + U2 / 20),
        color: 1
      })
      plot2d.drawArrow(ctx, {
        x0: s * 7,
        y0: s * (7 - U3 / 20),
        x1: s * 7,
        y1: s * (7 + U3 / 20),
        color: 1
      })
      plot2d.drawArrow(ctx, {
        x0: s * 7,
        y0: s * (3 - U4 / 20),
        x1: s * 7,
        y1: s * (3 + U4 / 20),
        color: 1
      })
      plot2d.drawArrow(ctx, {
        x0: s * (3.5 - U5 / 20),
        y0: s * 6,
        x1: s * (3.5 + U5 / 20),
        y1: s * 6,
        color: 1
      })
      const text0 = String(plot2d.formatNumber(U0.value, 3) + ' V')
      const text1 = String(plot2d.formatNumber(U1, 3) + ' V')
      const text2 = String(plot2d.formatNumber(U2, 3) + ' V')
      const text3 = String(plot2d.formatNumber(U3, 3) + ' V')
      const text4 = String(plot2d.formatNumber(U4, 3) + ' V')
      const text5 = String(plot2d.formatNumber(U5, 3) + ' V')
      plot2d.drawMath(ctx, {
        x: s * 7.5 - 4 * text0.length,
        y: s * 5 + 4,
        text: text0,
        color: 1
      })
      plot2d.drawMath(ctx, { x: s * 2 + 5, y: s * 7 + 4, text: text1, color: 1 })
      plot2d.drawMath(ctx, { x: s * 2 + 5, y: s * 3 + 4, text: text2, color: 1 })
      plot2d.drawMath(ctx, { x: s * 7 + 5, y: s * 7 + 4, text: text3, color: 1 })
      plot2d.drawMath(ctx, { x: s * 7 + 5, y: s * 3 + 4, text: text4, color: 1 })
      plot2d.drawMath(ctx, {
        x: s * 3.5 - text5.length * 4,
        y: s * 6 + 20,
        text: text5,
        color: 1
      })
    }

    // dimensions of cards or theme changed → repaint
    function repaint() {
      canvasSetup.remove()
      colors = plot2d.updateColors()
      init()
    }
  </script>
</body>

</html>