.mintapps .alert-box {
  display: block;
}

.mintapps .alert-box .close-icon {
  float: right;
  margin-right: -0.5rem;
  font-size: 80%;
  font-weight: bold;
}

.mintapps .alert-box .extra-margin {
  margin-bottom: var(--spacing);
}

@media print {
  .close-icon {
    display: none;
  }
}