.mintapps img.graph-settings {
  position: absolute;
  bottom: -0.5rem;
  right: -0.5rem;
  width: 1.5rem;
  opacity: 0.5;
  z-index: 1000;
}

.mintapps img.graph-settings:hover {
  opacity: 1;
}

.mintapps span.graph-point {
  position: absolute;
  z-index: 1000;
  padding: 0.2em;
  background-color: var(--alert-primary-background);
  border-color: var(--alert-primary-border);
  border-radius: 0.2em;
}

@media print {
  .mintapps img.graph-settings {
    display: none;
  }
}