.mintapps .item-list h2:first-child {
  margin-top: 0;
}

.mintapps .item-list {
  margin: var(--spacing) 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--double-spacing);
  align-items: stretch;
}

.mintapps .item-list .item {
  display: grid;
  grid-template-columns: 8em auto 2.5em;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  height: 8rem;
  border-radius: var(--border-radius);
  width: 100%;
}

.mintapps .item-list .item img {
  height: 8rem;
  width: 8rem;
  object-fit: cover;
  object-position: 0%;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.mintapps .item-list .item .text-column {
  overflow: hidden;
  padding: var(--spacing);
  display: grid;
  grid-template-rows: auto auto 1rem;
}

.mintapps .item-list .item .action-column {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  background-color: var(--background-color-1);
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.mintapps .item-list .item .action-column button {
  width: 2.5em;
  overflow-x: hidden;
  text-align: center;
  flex-grow: 1;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid var(--dividor-color);
  background-color: var(--ternary-color);
  padding: 0;
}

.mintapps .item-list .item .action-column button:last-child {
  border-bottom-right-radius: var(--border-radius);
  border-bottom: none;
}

.mintapps .item-list .item .action-column button:first-child {
  border-top-right-radius: var(--border-radius);
}

.mintapps .item-list .item .item-list-button-img {
  width: 1.5em;
  height: 1.5em;
  filter: invert(1)
}

.mintapps .item-list .item .item-list-button-img:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

.mintapps .item-list .item-list-copyright {
  opacity: 0.8;
  font-size: 80%;
}

.mintapps .item-list .item-list-desc {
  hyphens: auto;
}

.mintapps .item-list .item-list-copyright span::after {
  content: ' ⋄ ';
}
.mintapps .item-list .item-list-copyright span:last-of-type::after {
  content: '';
}

@media screen and (width < 800px) {
  .mintapps .item-list { grid-template-columns: repeat(1, 1fr); }
}
