/* Global style settings for MintApps */
/* stylelint-disable color-hex-length */

/* Lete sans math font */
@font-face {
  font-family: "Lete Sans Math";
  src: url("../fonts/LeteSansMath.woff2") format("woff2");
}

/* Lato regular font */
@font-face {
  font-family: "Lato";
  src: url("../fonts/LatoLatin-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

/* Lato bold font */
@font-face {
  font-family: "Lato";
  src: url("../fonts/LatoLatin-Semibold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* Lato italic font */
@font-face {
  font-family: "Lato";
  src: url("../fonts/LatoLatin-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

/* Light Theme */
.mintapps[data-theme="light"] {
  --primary-color: #0060a0;
  --secondary-color: #00a060;
  --extra-color: #6000a0;
  --ternary-color: #707070;
  /* normal text color */
  --primary-text-color: #212121;
  /* text color inside icons */
  --icon-text-color: #ffffff;
  /* shadow color of boxes */
  --shadow-color: #00000060;
  /* color of thin lines around UI-elemets */
  --dividor-color: #bdbdbd;
  /* normal background color for tex */
  --background-color: #ffffff;
  /* slightly darker background color */
  --background-color-1: #f0f0f0;
  /* background color of error messages */
  --error-color: #d32f2f;
}

/* Dark Theme */
.mintapps[data-theme="dark"] {
  --primary-color: #0060a0;
  --secondary-color: #00a060;
  --ternary-color: #707070;
  --primary-text-color: #f0f0f0;
  --icon-text-color: #ffffff;
  --shadow-color: #000000;
  --dividor-color: #505050;
  --background-color: #292929;
  --background-color-1: #191919;
  --error-color: #d32f2f;
}

.mintapps[data-theme="dark"] .invert-dark {
  filter: invert(1) hue-rotate(180deg);
}

.mintapps[data-theme="dark"] .button-icon {
  filter: invert(1);
}

.mintapps[data-theme="dark"] .btn-input img {
  filter: invert(1);
}

.mintapps[data-theme="dark"] .btn-icon img {
  filter: invert(1);
}

/* Hi contrast */
[data-theme="contrast"] {
  --primary-color: #000080;
  --secondary-color: #008000;
  --ternary-color: #303030;
  --primary-text-color: #000000;
  --icon-text-color: #ffffff;
  --shadow-color: #000000;
  --dividor-color: #808080;
  --background-color: #ffffff;
  --background-color-1: #ffffff;
  --error-color: #ff0000;
}

/* Define commom settings, like sizes and fonts */
.mintapps {
  /* border radius of buttons cards, etc. */
  --border-radius: 0.2rem;
  /* height of form elements as input, select, etc. */
  --form-height: 2rem;
  --font-family-text: 'Lato', sans;
  --font-family-math: 'Lete Sans Math';
  /* font size of normal text */
  --font-size-text: 15px;
  /* font size of math text */
  --font-size-math: 100%;
  /* line hight oft normal text */
  --line-height: 1.3;
  /* default spacing between UI elements */
  --spacing: 0.7rem;
  --minus-spacing: -0.7rem;
  --double-spacing: 1.4rem;
  /* mixed colors */
  --alert-primary-background: color-mix(in srgb, var(--background-color), var(--primary-color) 25%);
  --alert-primary-border: color-mix(in srgb, var(--background-color), var(--primary-color) 50%);
  --alert-secondary-background: color-mix(in srgb, var(--background-color), var(--secondary-color) 25%);
  --alert-secondary-border: color-mix(in srgb, var(--background-color), var(--secondary-color) 50%);
  --alert-ternary-background: color-mix(in srgb, var(--background-color), var(--ternary-color) 25%);
  --alert-ternary-border: color-mix(in srgb, var(--background-color), var(--ternary-color) 50%);
  /* other common settings */
  font-family: var(--font-family-text);
  line-height: var(--line-height);
  box-sizing: border-box;
  min-height: 100%;
  width: 100%;
  color: var(--primary-text-color);
  overflow-x: hidden;
  background-color: var(--background-color-1);
  font-size: var(--font-size-text);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  transition: opacity 0.2s;
}

/* Different font sizes */
[data-fontsize="small"] {
  --font-size-text: 13px;
}

[data-fontsize="large"] {
  --font-size-text: 17px;
}

/* Set specific font faces */
.mintapps button {
  font-family: var(--font-family-text);
}

.mintapps .math-font {
  font-family: var(--font-family-math);
  font-size: var(--font-size-math);
}

.mintapps .math-font::placeholder {
  font-family: var(--font-family-text);
}

.mintapps .mono-font {
  font-family: monospace;
}

.mintapps input,
.mintapps textarea {
  font-size: var(--font-size-text);
  font-family: var(--font-family-text);
  background-color: var(--background-color);
  color: var(--text-color)
}

.mintapps math {
  font-family: var(--font-family-math);
  font-size: var(--font-size-math);
}

/* grow main part of app vertically */
.mintapps>* {
  flex-grow: 1;
}

@media print {
  .mintapps {
    background-color: white !important;
  }
}

/* container with maximum width */
.mintapps .container {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: var(--spacing);
}

@media print {
  .mintapps .container {
    max-width: 100%;
  }
}

/* headings and text */
.mintapps h2 {
  font-weight: bold;
  margin-top: var(--double-spacing);
  margin-bottom: var(--spacing);
  font-size: 120%;
  clear: both;
}

.mintapps h2:first-child {
  margin-top: 1em;
}

@media print {
  .mintapps h2 {
    border-bottom: 1px solid var(--dividor-color);
    margin-top: 1em;
  }
}

.mintapps p,
.mintapps td,
.mintapps tr {
  margin: 0.7em 0;
  padding: 0;
  hyphens: auto;
}

.mintapps p:first-child {
  margin-top: 0;
}

.mintapps p:last-child {
  margin-bottom: 0;
}

@media screen and (width < 500px) {
  .mintapps p {
    line-height: 1.2;
  }
}

/* focus */
:focus {
  outline: solid 2px var(--primary-color);
  z-index: 1000;
}

/* buttons */
.mintapps .btn {
  border: solid 1px var(--dividor-color);
  padding: 0.5em;
  vertical-align: middle;
  text-decoration: none;
  font-size: var(--font-size-text);
  color: var(--primary-text-color);
  background-color: var(--background-color-1);
  border-color: var(--dividor-color);
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  transition: transform 0.3s;
  border-radius: var(--border-radius);
  line-height: 100%;
  font-weight: normal;
  margin-right: 0.3em;
  overflow: hidden;
}

.mintapps .btn:last-child {
  margin-right: 0;
}

.mintapps .btn-small {
  padding: 0.3em 0.5em;
}

.mintapps .btn-icon {
  padding: 0;
  min-width: inherit;
  height: var(--form-height);
}

.mintapps .btn-icon img {
  height: var(--form-height);
  padding: 0.2em;
  box-sizing: border-box;
  transition: transform 0.3s;
}

.mintapps .btn-icon:disabled img:hover {
  transform: scale(1.0);
}

.mintapps .btn:hover {
  filter: brightness(90%);
}

.mintapps .btn-primary {
  background-color: var(--primary-color);
  color: var(--icon-text-color);
}

.mintapps .btn-secondary {
  background-color: var(--secondary-color);
  color: var(--icon-text-color);
}

/* separator */
.mintapps hr {
  margin: var(--spacing) 0;
  border: 1px solid var(--dividor-color);
}

.mintapps div.separator {
  border: none;
  height: var(--spacing);
}

/* vertical stack with gaps */
.mintapps .gap-stack>* {
  margin-bottom: var(--spacing);
}

.mintapps .gap-stack2>* {
  margin-bottom: var(--double-spacing);
}

/* card-container */
.mintapps .mint-card-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0 var(--double-spacing);
}

.mintapps .mint-card-container-wide {
  grid-template-columns: 1fr;
}

/* mint-card */
.mintapps .mint-card-icon-container {
  min-width: 3em;
  text-align: right;
  height: 1.4rem;
}

.mintapps .mint-card-icon {
  height: 1.4rem;
  filter: invert(1);
  cursor: pointer;
}

.mintapps .mint-card-icon:hover {
  transform: scale(1.2);
  transition: transform 0.3s;
}

.mintapps .mint-card-header {
  font-size: 110%;
  color: var(--icon-text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem 0 var(--spacing);
  background-color: var(--ternary-color);
  min-height: var(--form-height);
  box-sizing: border-box;
}

.mintapps .mint-card-footer {
  padding: 0.4em var(--spacing);
  border-top: solid 1px gray;
  display: block;
}

.mintapps .mint-card-body {
  padding: var(--spacing);
  display: grid;
  grid-template-columns: auto;
  gap: var(--spacing);
}

.mintapps .mint-card {
  background-color: var(--background-color);
  display: block;
  margin-bottom: var(--double-spacing);
  border-radius: var(--border-radius);
  box-shadow: 0.3em 0.3em 0.5em var(--shadow-color);
  break-inside: avoid-column;
  position: relative;
}

.mintapps .mint-card> :last-child {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.mintapps .mint-card> :first-child {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.mintapps .mint-card hr,
.mintapps .modal-wrapper hr {
  border: 0.5px solid var(--dividor-color);
  margin: var(--spacing) var(--minus-spacing);
}

.mintapps .mint-card-hidden {
  height: 2.5em;
  overflow-y: hidden;
}

.mintapps .mint-card-hidden .mint-card-body {
  visibility: hidden;
}

.mintapps .mint-card-table {
  margin: var(--minus-spacing) !important;
  width: inherit !important;
}

.mintapps .mint-card-container[data-num-cols="1"] .mint-card-expand-icon {
  display: none;
}

/* responsive design */
@media screen and (width < 1320px) {
  .mintapps .container {
    margin: 0 1em;
    width: auto;
  }
}

@media screen and (width < 900px) {
  [data-fontsize="large"] .mintapps .mint-card-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (width < 800px) {
  .mintapps .container {
    margin: 0 0.5em;
    width: auto;
  }

  .mintapps .hide-small {
    display: none;
  }
}

@media screen and (width < 750px) {
  .mintapps .mint-card-container {
    grid-template-columns: minmax(0, 1fr);
  }

  .mintapps .mint-card-expand-icon {
    display: none;
  }
}


@media screen and (width < 500px) {
  .mintapps .container {
    padding: 0;
    width: auto;
  }

  .mintapps .hide-tiny {
    display: none;
  }
}

@media print {
  .mintapps .mint-card-container {
    display: block;
  }

  .mintapps .mint-card {
    break-inside: avoid;
    box-shadow: none;
  }

  .mintapps .mint-card-icon {
    display: none;
  }

  .mintapps .mint-card-header {
    padding: 0;
    color: black !important;
    background-color: white !important;
    border-bottom: solid 1px var(--dividor-color);
  }

  .mintapps .mint-card-footer {
    display: none;
  }

  .mintapps .hide-print {
    display: none;
  }
}

/* Disabled elements */
.mintapps :disabled,
.mintapps .disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.mintapps :disabled:hover,
.mintapps .disabled:hover {
  filter: brightness(100%);
  cursor: not-allowed;
}

/* tables */
.mintapps table.table {
  width: 100%;
  border-collapse: collapse;
}

.mintapps table.table:first-child {
  margin: 0 0 1em;
}

.mintapps .table tr {
  min-height: 2em;
}

.mintapps table.table-borders td,
.mintapps table.table-borders th {
  border: solid 1px var(--dividor-color);
}

.mintapps table.table td,
.mintapps table.table th {
  padding: 0.3em var(--spacing);
  min-height: 5em;
  text-align: left;
}

.mintapps table.table-striped thead tr {
  height: 2.5em;
  font-weight: bold;
}

.mintapps table.table-striped tbody tr:nth-child(odd) {
  background-color: var(--background-color-1);
  filter: brightness(0.9);
}

.mintapps table.table-grid td,
.mintapps table.table-grid th {
  border: solid 1px var(--dividor-color);
}

.mintapps table.table-grid th {
  background-color: var(--background-color-1);
}

.mintapps table.center {
  margin-left: auto;
  margin-right: auto;
}

/* hyperlinks */
.mintapps a {
  color: var(--primary-text-color);
  cursor: pointer;
  text-decoration: underline;
}

.mintapps a.anchor {
  display: block;
  position: relative;
  top: -4em;
  visibility: hidden;
}

.mintapps a[data-target="external"]::before {
  content: "»\2009";
  white-space: nowrap;
}

/* Icons */
.mintapps .medium-icon,
.mintapps .small-icon {
  padding: 0;
  margin-left: -2px;
  height: 1.8em;
  cursor: pointer;
  filter: saturate(0) contrast(80%);
}

.mintapps .small-icon {
  height: 1.3em;
}

.mintapps .big-icon {
  height: 4em;
  cursor: pointer;
}

.mintapps .button-icon {
  padding: 0;
  margin: -3px -2px -5px;
  height: 1.3em;
  filter: saturate(0) contrast(10);
  vertical-align: top;
}

.mintapps .medium-icon:hover,
.mintapps .small-icon:hover,
.mintapps .big-icon:hover {
  color: var(--primary-text-color);
  cursor: pointer;
  transform: scale(1.2);
}

/* Invert Images */
.mintapps img.invert {
  filter: invert(1);
}

/* Small floating image as logo */
.mintapps img.floating-logo {
  width: 4em;
  float: right;
  margin: 0.5em;
}

/* Rotating elements */
.mintapps .rotating {
  animation: mintapp-rotation 5s infinite linear;
}

@keyframes mintapp-rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

/* Pulsing elements */
.mintapps .pulsing {
  animation: mintapp-pulse 2s infinite;
}

@keyframes mintapp-pulse {
  0% {
    transform: scale(0.95);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}

/* simple format options */
.mintapps .w-50 {
  width: 50%;
}

.mintapps .w-100 {
  width: 100%;
}

.mintapps .h-100 {
  height: 100%;
}

.mintapps .opa-50 {
  opacity: 0.5;
}

.mintapps .opa-75 {
  opacity: 0.75;
}

.mintapps .text-left {
  text-align: left;
}

.mintapps .text-right {
  text-align: right;
}

.mintapps .text-center {
  text-align: center;
}

.mintapps .float-right {
  float: right;
}

.mintapps .pos-relative {
  position: relative;
}

.mintapps .max-width-400 {
  max-width: 400px;
}

.mintapps .max-width-500 {
  max-width: 500px;
}

.mintapps .d-none {
  display: none !important;
}

.mintapps .d-block {
  display: block;
}

.mintapps .d-flex {
  display: flex;
}

.mintapps .d-grid {
  display: grid;
}

.mintapps .d-inline {
  display: inline-block;
}

.mintapps .form-height {
  height: var(--form-height);
}

.mintapps .border-right-none {
  border-right: none !important;
}

.mintapps .border-left-none {
  border-left: none !important;
}

.mintapps .flex-grow {
  flex-grow: 1;
}

.mintapps [data-hide] {
  display: none !important;
}

/* Mouse pointer - for active contents */
.mintapps .cursor-pointer {
  cursor: pointer;
  transition: transform 0.3s;
}

.mintapps .cursor-pointer:hover {
  transform: scale(1.1);
}

.mintapps .cursor-crosshair {
  cursor: crosshair;
}

/* Draggable contents - prohibit mouse selection */
.mintapp[draggable] {
  user-select: none;
  cursor: move;
  cursor: grab;
}

/* Warnings */
.mintapps .alert-primary,
.mintapps .alert-secondary,
.mintapps .alert-ternary,
.mintapps .alert-warning {
  padding: 0.5em 1em;
  border-radius: var(--border-radius);
}

.mintapps .alert-primary {
  background-color: var(--alert-primary-background);
  border: solid 1px var(--alert-primary-border);
}

.mintapps .alert-secondary {
  background-color: var(--alert-secondary-background);
  border: solid 1px var(--alert-secondary-border);
}

.mintapps .alert-ternary {
  background-color: var(--alert-ternary-background);
  border: solid 1px var(--alert-ternary-border);
}

.mintapps .alert-warning {
  background-color: var(--error-color);
  color: var(--icon-text-color);
}


@media print {
  .mintapps .alert-warning,
  .mintapps .alert-primary {
    background-color: white;
    border: solid 1px var(--dividor-color);
    font-style: italic;
    color: black;
  }
}

/* used for markdown container */
.mintapps .overflow-wrap-word p,
.mintapps .overflow-wrap-word pre {
  overflow-wrap: break-word;
}

/* team player logo */
.mintapps .logo {
  display: inline-block;
  border-radius: 0.5em;
  width: 10em;
  background-color: var(--primary-color);
  margin: 1em
}

.mintapps .logo img {
  filter: invert(0.9);
  width: 100%;
}

/* Shadow */
.mintapps .shadow {
  box-shadow: 0.3em 0.3em 0.5em var(--shadow-color);
}

@media print {
  .mintapps .shadow {
    box-shadow: none;
  }
}

/* List styles */
.mintapps ul {
  padding-left: 1em;
  margin: 0;
}

.mintapps ul li {
  margin-bottom: 0.25em;
}

.mintapps ul li:last-child {
  margin-bottom: inherit;
}

/* Contents of app-info */
.mintapps .app-info {
  text-align: right;
  line-height: 110%;
  opacity: 0.8;
  font-size: 80%;
  hyphens: auto;
  margin: var(--spacing) 0;
  flex-grow: 0;
}

@media screen and (width < 600px) {
  .mintapps .app-info {
    text-align: justify;
    hyphens: auto;
  }

  .mintapps .app-info > .container > div {
    display: inline;
    margin-right: 0.2rem;
  }
}

@media print {
  .mint-app .app-info {
    text-align: left;
    hyphens: auto;
    font-size: 70%;
    padding-top: 0.5rem;
  }

  a {
    text-decoration: none !important;
  }
}

/* Canvas caption */
.mintapps .canvas-caption {
  font-size: 90%;
  line-height: 100%;
}

.mintapps .canvas-caption div {
  height: 1rem;
}

.mintapps .canvas-caption span {
  margin-right: var(--spacing);
}

.mintapps .canvas-caption span:first-child {
  margin-right: 0.1rem;
}

.mintapps .canvas-caption span:first-child::after {
  content: ':';
  margin-right: 0.1rem;
}