.mintapps .modal-mask {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #808080a0;
  overflow-y: auto;
  animation: mintapp-modal-fadein 0.3s;

  /* Safari ignores backdrop-filter, use specific rule */
  backdrop-filter: blur(20px);
}

.mintapps .modal-wrapper {
  margin: 0 var(--spacing);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.mintapps .modal-wrapper .card {
  box-shadow: 0 2px 8px rgb(0 0 0 / 33%);
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  max-width: 700px;
  width: 700px;
}

.mintapps modal-dialog[data-wide] .modal-wrapper .card {
  max-width: 900px;
  width: 900px;
}

.mintapps .modal-wrapper .header {
  background-color: var(--ternary-color);
  color: var(--icon-text-color);
  padding: 0.4rem var(--spacing);
  display: flex;
  justify-content: space-between;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  font-size: 110%;
}

.mintapps .modal-wrapper .header img {
  height: 1.4em;
  filter: invert(1);
  cursor: pointer;
}

.mintapps .modal-wrapper .body {
  max-height: calc(100vh - 7rem);
  overflow-y: auto;
  padding: var(--spacing);
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

.mintapps .modal-wrapper .footer {
  overflow: auto;
  border-top: solid 1px var(--dividor-color);
  padding: 0.5rem;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

@keyframes mintapp-modal-fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}