.mintapps .social-icon {
  display: inline-block;
  border-radius: 50%;
  background-color: var(--ternary-color);
  margin: 0 0.25rem;
  transition: transform 0.3s;
  padding: 0.2rem;
  border: none;
}

.mintapps .social-icon:hover {
  transform: scale(1.1);
}

.mintapps .social-icon img {
  filter: invert(1);
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
}

@media print {
  .mintapps .social-icon {
    display: none;
  }
}