.mintapps span.sc-member {
  display: inline-block;
  padding: 0.2rem;
  margin: 0.2rem 0.4rem 0.2rem 0;
  border: solid 1px var(--dividor-color);
  border-radius: var(--border-radius);
  background-color: var(--background-color-1);
}

.mintapps .sc-share-container {
  display: flex;
  gap: var(--spacing);
}

.mintapps .sc-qr-container {
  width: 50%;
  max-width: 200px;
  opacity: 0.9;
}
