/* Specific styles for displaying the MintApps as normal webpage */
/* stylelint-disable color-hex-length */
body {
  padding: 0;
  margin: 0;
  visibility: hidden;
  position: absolute;
}


@media print {
  body {
    position: inherit;
    width: 50%;
  }

  .mintapps {
    --background-color: #ffffff;
    --background-color-1: #ffffff;
  }

  .mintapps .section {
    padding: 0;
    margin: 0;
  }

  .mintapps .container {
    padding: 0;
    margin: 0;
  }

  .mintapps audio,
  .mintapps video {
    display: none;
  }

  .mintapps .btn {
    display: none;
  }

  .mintapps .nav {
    display: none;
  }
}

@page {
  margin: 2cm;
}